<h1> Hospitals </h1>
<% @hospitals.each do |hospital| %>
    <h3><%= hospital.name%></h3>
    <p>Phone: (303) <%= hospital.phone %></p>
    <p>Location City: <%= hospital.location %></p>
    

<% end %>