<h1><%= @doctor.name %></h1>
<a href="/doctors">All Doctors</a>
<a href="/hospitals">Hospital</a>

<p>Specialty: <%= @doctor.specialty %></p>
<p>Offers Probono: <%= @doctor.probono %></p>
<p>License Number: <%= @doctor.license %></p>

